.button-position {
    float: left;
    width: 90%;
}

.position {
    float: left;
    width: 10%;
    height: 100%;
}

.spiner {
    width: 100%;
    height: calc(100vh - 300px);
}

.spiner-center {
    margin: 0 50%;
}

.tekst-center {
    font-size: 20px;
    text-align: center;
}