<div class="jumbotron text-center float-header">
    <div class="left-header">
        <div class="header-image">
            <img src="../../../../assets/avatar.png" alt="" style="width: 100%; height: 100%;">
        </div>

        <div class="header-text">
            <p>{{user.firstName}}</p>
            <p>{{user.lastName}}</p>
        </div>
    </div>

    <div class="right-header">
        <div class="btn-right">
            <button type="button" class="btn btn-outline-secondary" (click)="logout()">Odjavite se</button>
        </div>
    </div>
</div>