<div class="jumbotron text-center">
    <h1>Projekat iz UPP</h1>
    <p>Java Spring Boot 3 + Angular 11 + Camunda</p> 
</div>

<div>
    <h1>Login User</h1>
    <br>
    <div class="login-form">
        <div class="form">
            <p>Username</p><input type="text" name="username" [(ngModel)]="loginForm.username" id="" placeholder="Username...">
            <p>Password</p><input type="password" name="password" [(ngModel)]="loginForm.password" id="" placeholder="Password...">
        </div>
        <div class="btns" (click)="ngLogin()">
            <button>Login</button>
        </div>
    </div>
</div>