

<div class="container1">
    <app-header></app-header>

    <div class="container2" *ngIf="user.isWriter">
        <app-meni class="container2-main" [activeTub]='activeTub' (emit)="onEmitMenu($event)"></app-meni>

        <div class="container2-body">
            <p>Ovde ide sve ostalo</p>
        </div>
    </div>

    <div class="container2" *ngIf="!user.isWriter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 style="text-align: center;">Molimo vas unesite minimum dva fajla, kako bi smo mogli u potpunosti da verifikujemo vas nalog. Hvala uzivajte.</h3>
                </div>
                <br>
                <div class="col-sm-12" *ngIf="formsFiles.formFields !== null">
                    <app-file-form [formFields]="formsFiles.formFields"></app-file-form>
                </div>
            </div>
        </div>
    </div>
</div>